
body {
  background-color: #f8f9fa;
}

.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}
.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #333;
}

.dark-mode .cardP{
  border-radius: 20px;
  background-color: #1e1e1e;
  color: rgb(0, 0, 0);
  border: 1px solid #333;
}