<div class="container mt-4">
  <h2 class="mb-4">Mi Diario de Nutrición</h2>
  
  <div class="card shadow-sm p-3 mb-4 border-0 bg-light">
    <h4 class="text-secondary">Registrar Alimento</h4>
    <div class="row g-2">
      <div class="row g-2 align-items-center"> <div class="col-md-3">
    <input type="text" [(ngModel)]="nuevaComida.alimento" class="form-control" placeholder="Nombre del alimento">
  </div>
  
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-text">Calorías</span>
      <input type="number" [(ngModel)]="nuevaComida.calorias" class="form-control" min="0" placeholder="0">
    </div>
  </div>

  <div class="col-md-3">
    <input type="date" [(ngModel)]="nuevaComida.fecha" class="form-control">
  </div>

  <div class="col-md-2">
    <button (click)="agregarComida()" class="btn btn-success w-100 fw-bold">Añadir</button>
  </div>
</div>
  </div>

  <label class="form-label fw-bold">Consumo diario:</label>
  <div class="progress mb-4" style="height: 30px; border-radius: 15px; overflow: hidden;">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
         role="progressbar" 
         [style.width.%]="porcentajeProgreso">
      {{ totalCalorias }} / 2000 kcal
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0"><i class="bi bi-search">🔎</i></span>
        <input type="text" 
               class="form-control border-start-0" 
               placeholder="Filtrar mis registros por nombre..." 
               (input)="filtrarComidas($event)">
      </div>
    </div>
  </div>

  <div class="table-responsive shadow-sm rounded">
    <table class="table table-hover align-middle mb-0">
      <thead class="table-dark">
        <tr>
          <th>Alimento</th>
          <th>Calorías</th>
          <th>Fecha</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comida of listComidasFiltradas">
          <td class="fw-bold">{{ comida.alimento }}</td>
          <td><span class="badge bg-info text-dark">{{ comida.calorias }} kcal</span></td>
          <td>{{ comida.fecha }}</td>
          <td class="text-center">
       <button [routerLink]="['/editar', comida.id]" class="btn btn-outline-primary btn-sm me-2">
            Editar
       </button>
                   <button (click)="eliminarComida(comida.id)" class="btn btn-outline-danger btn-sm">Eliminar</button>
          </td>
        </tr>
        <tr *ngIf="listComidasFiltradas.length === 0">
          <td colspan="4" class="text-center text-muted p-4">No se encontraron registros.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>